@font-face {
  font-family: creepster;
  src: url(creepster.regular.ttf);
}
@font-face {
  font-family: HalloWitchZ;
  src: url(HalloWitchZ.otf);
}

h1.title {
  font-family: HalloWitchZ;
  background-image: linear-gradient(orange, rgb(255, 0, 255));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  position: absolute;
  left: 1em;
  top: 0;
  bottom: 0;
  right: 0;
  line-height: 0.4em;
  font-size: 10em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  pointer-events: none;
  transition: transform 300ms ease-out ;
}

.title .pumpkin {
  margin-left: -1em;
}

.title .vs {
  font-size: 0.6em;
  margin-right: 0.85em;
  line-height: 0.3em;
}

.title .ghost {
  margin-top: 0.15em;
  margin-left: -0.9em;
}

.scene-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #092409;
  transition: background ease-in 500ms;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 12em;
}

.game-mode.scene-container {
  background-color: transparent;
  pointer-events: none;
}
.game-mode button.smart-button {
  opacity: 0;
}
.game-mode.scene-container h1.title {
  transform: translate(-48%, -51%) scale(0.5);
}

button.action {
  margin: 0;
  border: none;
  background: transparent;
  font-size: 3em;
  font-family: HalloWitchZ;
  color: rgb(30, 255, 0);
  line-height: 1.6;
  max-height: 1em;
  outline: none;
  transition: opacity ease-in 70ms;
}

button.action:hover {
  font-family: HalloWitchZ;
  background-image: linear-gradient(orange, rgb(255, 0, 255));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

button.action:active {
  transform: scale(0.9);
}

button.smart-button {
  transition: opacity ease-in 500ms;
}

.action-container {
  padding: 4em;
}

body {
  font-size: calc(15px + 0.390625vw);
  background: black;
}

:modal {
  background-color: #204120;
  border: 14px solid #092409;
  border-radius: 47px;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  overflow: hidden;
}

dialog:-internal-dialog-in-top-layer::backdrop {
  position: fixed;
  inset: 0px;
  background: rgba(0, 0, 0, 0.856);
}

.info-description {
  font-family: monospace;
  color: white;
}

.loader {
  display: none;
  width: fit-content;
  font-family: monospace;
  font-size: 30px;
  clip-path: inset(0 3ch 0 0);
  animation: l4 1s steps(4) infinite;
}
.loader:before {
  content: 'Loading...';
  color: white;
}
@keyframes l4 {
  to {
    clip-path: inset(0 -1ch 0 0);
  }
}

.loading .loader {
  display: block;
}

.loading button.smart-button {
  opacity: 0;
  pointer-events: none;
}

.header {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-family: creepster;
  font-size: 3em;
  line-height: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 0.25em;
}

.header .money {
  color: yellow;
}

#game-over-dialog {
  width: max-content;
}

#game-over-dialog .game-over {
  font-size: 6em;
  font-family: creepster;
  background-image: linear-gradient(orange, rgb(255, 0, 255));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  line-height: 1.6;
}
